@import '../../styles/mixins';
@import 'styles/RoomShow';
@import 'styles/AreaShow';

.agenda-area-show {
  .ant-card-cover {
  }
}


.agenda-block-area {
  img {
    background-repeat: no-repeat;
    background-size: contain, cover;
  }
}
